{% extends 'base.html.twig' %}

{% block title %}Adoption index
{% endblock %}

{% block body %}
	<h1>Adoption index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Status</th>
				<th>Adopter</th>
				<th>Animal</th>
				<th>Shelter</th>
				<th>Notes</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for adoption in adoptions %}
				<tr>
					<td>{{ adoption.id }}</td>
					<td>{{ adoption.date ? adoption.date|date('Y-m-d') : '' }}</td>
					<td>{{ adoption.status }}</td>
					<td>{{ adoption.adopter.firstname }}
						{{ adoption.adopter.lastName }}</td>
					<td>{{ adoption.animal.name }}</td>
					<td>{{ adoption.animal.shelter.name }}</td>
					<td>{{ adoption.notes }}</td>
					<td>
						<a href="{{ path('app_adoption_show', {'id': adoption.id}) }}">show</a>
						<a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_adoption_new') }}">Create new</a>
{% endblock %}
