{% extends 'base.html.twig' %}

{% block title %}Liste des adoptions{% endblock %}

{% block body %}
	<h1>Liste des adoptions</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Statut</th>
				<th>Adoptant</th>
				<th>Animal</th>
				<th>Refuge</th>
				<th>Notes</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for adoption in adoptions %}
				<tr>
					<td>{{ adoption.id }}</td>
					<td>{{ adoption.date ? adoption.date|date('Y-m-d') : '' }}</td>
					<td>{{ adoption.status }}</td>
					<td>{{ adoption.adopter.firstname }}
						{{ adoption.adopter.lastName }}</td>
					<td>{{ adoption.animal.name }}</td>
					<td>{{ adoption.animal.shelter.name }}</td>
					<td>{{ adoption.notes }}</td>
					<td>
						<a href="{{ path('app_adoption_show', {'id': adoption.id}) }}">Voir</a>
						<a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_adoption_new') }}">Créer</a>
{% endblock %}
