{% extends 'base.html.twig' %}

{% block title %}Adoption{% endblock %}

{% block body %}
	<h1>Adoption</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ adoption.id }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ adoption.date ? adoption.date|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ adoption.status }}</td>
			</tr>
			<tr>
				<th>Adoptant</th>
				<td>{{ adoption.adopter.firstName }}
					{{ adoption.adopter.lastName }}</td>
			</tr>
			<tr>
				<th>Animal</th>
				<td>{{ adoption.animal.name }}</td>
			</tr>
			<tr>
				<th>Refuge</th>
				<td>{{ adoption.animal.shelter.name }}</td>
			</tr>
			<tr>
				<th>Notes</th>
				<td>{{ adoption.notes }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_adoption_index') }}">Retour à la liste</a>

	<a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">Modifier</a>

	{{ include('adoption/_delete_form.html.twig') }}
{% endblock %}
