{% extends 'base.html.twig' %}

{% block title %}Liste des refuges{% endblock %}

{% block body %}
	<h1>Liste des refuges</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Téléphone</th>
				<th>Email</th>
				<th>Capacité</th>
				<th>Soignants</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for shelter in shelters %}
				<tr>
					<td>{{ shelter.id }}</td>
					<td>{{ shelter.name }}</td>
					<td>{{ shelter.address }}</td>
					<td>{{ shelter.phone }}</td>
					<td>{{ shelter.email }}</td>
					<td>{{ shelter.capacity }}</td>
					<td>
						<ul>
							{% for caretaker in shelter.caretakers %}
								<li>{{ caretaker.lastName }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<a href="{{ path('app_shelter_show', {'id': shelter.id}) }}">Voir</a>
						<a href="{{ path('app_shelter_edit', {'id': shelter.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_shelter_new') }}">Créer</a>
{% endblock %}
