{% extends 'base.html.twig' %}

{% block title %}Refuge{% endblock %}

{% block body %}
	<h1>Refuge</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ shelter.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ shelter.name }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ shelter.address }}</td>
			</tr>
			<tr>
				<th>Téléphone</th>
				<td>{{ shelter.phone }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ shelter.email }}</td>
			</tr>
			<tr>
				<th>Capacité</th>
				<td>{{ shelter.capacity }}</td>
			</tr>
			<tr>
				<th>Soignants</th>
				<td>
					<ul>
						{% for caretaker in shelter.caretakers %}
							<li>{{ caretaker.lastName }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_shelter_index') }}">Retour à la liste</a>

	<a href="{{ path('app_shelter_edit', {'id': shelter.id}) }}">Modifier</a>

	{{ include('shelter/_delete_form.html.twig') }}
{% endblock %}
