{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
	<h1>Animal</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ animal.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ animal.name }}</td>
			</tr>
			<tr>
				<th>Âge</th>
				<td>{{ animal.age }}</td>
			</tr>
			<tr>
				<th>Espèce</th>
				<td>{{ animal.species.name }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ animal.status }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ animal.description }}</td>
			</tr>
			<tr>
				<th>Refuge</th>
				<td>{{ animal.shelter.name }}</td>
			</tr>
			<tr>
				<th>Soignants</th>
				<td>
					<ul>
						{% for caretaker in animal.caretaker %}
							<li>{{ caretaker.firstName }}
								{{ caretaker.lastName }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_animal_index') }}">Retour à la liste</a>

	<a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Modifier</a>

	{{ include('animal/_delete_form.html.twig') }}
{% endblock %}
