{% extends 'base.html.twig' %}

{% block title %}Liste des adoptants{% endblock %}

{% block body %}
    <h1>Liste des adoptants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adopter in adopters %}
            <tr>
                <td>{{ adopter.id }}</td>
                <td>{{ adopter.firstName }}</td>
                <td>{{ adopter.lastName }}</td>
                <td>{{ adopter.email }}</td>
                <td>{{ adopter.phone }}</td>
                <td>{{ adopter.address }}</td>
                <td>
                    <a href="{{ path('app_adopter_show', {'id': adopter.id}) }}">Voir</a>
                    <a href="{{ path('app_adopter_edit', {'id': adopter.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adopter_new') }}">Créer</a>
{% endblock %}
