{% extends 'base.html.twig' %}

{% block title %}Liste des soignants{% endblock %}

{% block body %}
	<h1>Liste des soignants</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Téléphone</th>
				<th>Jours de travail</th>
				<th>Heure de début</th>
				<th>Heure de fin</th>
				<th>Animaux</th>
				<th>Refuges</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for caretaker in caretakers %}
				<tr>
					<td>{{ caretaker.id }}</td>
					<td>{{ caretaker.firstName }}</td>
					<td>{{ caretaker.lastName }}</td>
					<td>{{ caretaker.email }}</td>
					<td>{{ caretaker.phone }}</td>
					<td>{{ caretaker.workDays ? caretaker.workDays|json_encode : '' }}</td>
					<td>{{ caretaker.startTime ? caretaker.startTime|date('H:i') : '' }}</td>
					<td>{{ caretaker.endTime ? caretaker.endTime|date('H:i') : '' }}</td>
					<td>
						<ul>
							{% for animal in caretaker.animals %}
								<li>{{ animal.name }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<ul>
							{% for shelter in caretaker.shelter %}
								<li>{{ shelter.name }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<a href="{{ path('app_caretaker_show', {'id': caretaker.id}) }}">Voir</a>
						<a href="{{ path('app_caretaker_edit', {'id': caretaker.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_caretaker_new') }}">Créer</a>
{% endblock %}
