{% extends 'base.html.twig' %}

{% block title %}Soignant{% endblock %}

{% block body %}
	<h1>Soignant</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ caretaker.id }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ caretaker.firstName }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ caretaker.lastName }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ caretaker.email }}</td>
			</tr>
			<tr>
				<th>Téléphone</th>
				<td>{{ caretaker.phone }}</td>
			</tr>
			<tr>
				<th>Jours de travail</th>
				<td>{{ caretaker.workDays ? caretaker.workDays|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Heure de début</th>
				<td>{{ caretaker.startTime ? caretaker.startTime|date('H:i') : '' }}</td>
			</tr>
			<tr>
				<th>Heure de fin</th>
				<td>{{ caretaker.endTime ? caretaker.endTime|date('H:i') : '' }}</td>
			</tr>
			<tr>
				<th>Animaux</th>
				<td>
					<ul>
						{% for animal in caretaker.animals %}
							<li>{{ animal.name }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Refuges</th>
				<td>
					<ul>
						{% for shelter in caretaker.shelter %}
							<li>{{ shelter.name }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_caretaker_index') }}">Retour à la liste</a>

	<a href="{{ path('app_caretaker_edit', {'id': caretaker.id}) }}">Modifier</a>

	{{ include('caretaker/_delete_form.html.twig') }}
{% endblock %}
