{% extends 'base.html.twig' %}

{% block title %}Espèce{% endblock %}

{% block body %}
	<h1>Espèce</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ species.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ species.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ species.description }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_species_index') }}">Retour à la liste</a>

	<a href="{{ path('app_species_edit', {'id': species.id}) }}">Modifier</a>

	{{ include('species/_delete_form.html.twig') }}
{% endblock %}
